langchain
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4
pymupdf
arxiv
wikipedia
pyowm
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-chroma
streamlit
langchain-community
langchain-groq
fastapi
uvicorn
langserve
sse-starlette
langchain-chroma
langchain_groq
tqdm